<form action="#"
      th:action="@{/books/update/{id}(id=${book.id})}"
      th:object="${book}"
      method="post">
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title" placeholder="title">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    <label for="author">Author</label>
    <select class="form-control" id="author" th:field="*{author}">
        <option value="0">select author</option>
        <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.firstName} + ' ' + ${author.lastName}"></option>
    </select>
    <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
    <label for="genre">Genre</label>
    <select class="form-control" id="genre" th:field="*{genre}">
        <option value="0">select author</option>
        <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
    </select>
    <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>
    <input type="submit" value="Update Book">
</form>